<h1>新增筆記</h1>

<%# action:往哪送，method: 使用什麼方法，get or post
沒寫就是 get，後端只在乎 name %>
<%# <form action="/notes" method= "POST"></form> %>

<%# 用form_for 快速建立
根據@note的方法名去猜測，會幫你把路徑跟方法跟token都寫好 
view 的角色是被動的，不要在這邊 new，controller 負責調度資料，流程控制，
在 controller new 之後再傳過來會比較好 %>
<%= form_for(@note) do %>


  <%# name 後面接的名稱要跟後端資料庫建的資料表欄位名稱一樣才能送過去 %>
  <%# 資料表欄位名稱如果忘記可以去 db/migrate 裡面的檔案看他的描述 %>
  標題:<input type="text" name="title">
  內文:<textarea name="content"></textarea>
  <input type="submit" value="送出">

<% end %>

<%# QueryString
https://google.com/?p=輸入表格內的東西 & 下一組 %>